body{
    background-color: rgb(10, 56, 56);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


#informacion{
    border: solid rgb(0, 56, 1);
    padding: 0px;
    width: 50%;
    margin: auto;
    box-shadow: 0px 5px 30px 0px rgba(1, 87, 1, 0.897);
}

#rama{
    color: rgb(54, 165, 42);
    font-size: 20PX;
}

h2{
    color: rgb(52, 137, 6);
    font-size: 40px;
}
#cabecera p{
    background-color: rgba(56, 133, 4, 0.697);
    color: rgb(4, 58, 4);
    padding: 0px;
    text-align: left;
    margin: 0px;
    font-size: 35px;
    box-shadow: 0px 5px 30px 0px green;
    text-shadow:  0px 5px 30px 0px rgb(0, 0, 0);
}

